<h2>Create a new Question</h2>
<ul>
 	<% @questions.each do |question| %>
 		<li><%= link_to question.title, question_path(question) %></li>
 		<%end%>
</ul>
<%= link_to "Create a Question", new_question_path, :class => 'question'%>